.ReactedApp__header
  height: 3.75rem
  position: relative
  width: calc(100% - 32px)
  max-width: 300px
  margin: 0 auto
  transition: all 0.5s ease-in-out
  @media (min-width: 640px)
    max-width: 100%
    width: 100%
    left: 0
    margin-left: 0
    transition: all 0.5s linear

  .ReactedApp__title
    display: inline-block
    line-height: 3.5rem
    color: $navy
    vertical-align: top
    width: calc(100% - 50px)
    text-align: center
    margin: 0 auto
    @media (min-width: 640px)
      width: 100%

@import "./reactedApp__links"
